{% extends 'base.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block body%}
    <div class="login-body">
        <form method="post">

            <div class="login">
                <div class="login-screen">
                    <div class="login-title">
                        <img class="avatar" src="{{ asset('assets/img/logo_lesratons.png') }}" alt="card image">
                    </div>
                    {% if error %}
                        <div class="text-center alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="login-form">
                        <div class="login-control-group">
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="login-input form-control" placeholder="Login" required autofocus>
                            <label class="login-field-icon fui-user" for="inputUsername"></label>
                        </div>

                        <div class="login-control-group">
                            <input type="password" name="password" id="inputPassword" class="login-input form-control" placeholder="Mot de passe" required>
                            <label class="login-field-icon fui-lock" for="inputPassword"></label>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button class="login-btn" type="submit">connexion</button>
                        <a class="login-link" href="{{ path('app_register') }}">Inscrivez-vous</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}