{% extends 'base.html.twig' %}

{% block title %}Filtrer un Artiste{% endblock %}

{% block body %}
    <div class="bloc-admin">

        <div class=" filter">
            {{ form_start(filterDomainForm) }}
            <div class="form-row justify-content-center">
                <div class="col-md-7 col-lg-4">
                    {{ form_row(filterDomainForm.metier, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-7 col-lg-4">
                    {{ form_row(filterDomainForm.style, { 'attr': {'class': 'form-control col'} }) }}
                </div>
                <div class="col-md-7 col-lg-4">
                    {{ form_row(filterDomainForm.skill, { 'attr': {'class': 'form-control col'} }) }}
                </div>

            </div>
            {{ form_end(filterDomainForm) }}


            {% include 'inc/cardAdmin.html.twig' %}
        </div>
    </div>
{% endblock %}