{% extends 'base.html.twig' %}

{% block body %}
    <h1>Filtre Domain </h1>

    {{ form(filterDomainForm) }}

    <div class="card-deck">
        {% for user in users %}
            <div class="card col-12 col-md-3">
                <img src="{{asset('assets/img/download/avatar.jpg')}}"
                     class="card-img-top rounded-circle w-75 mx-auto mt-3"  alt="{{ user.firstname }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ user.firstname }} {{ user.lastname }}</h5>
                    <p class="card-text text-center">
                        {% for activity in user.activities %}
                            {{ activity.domain.name }}
                        {% endfor %}</p>
                    <p class="card-text text-center">{{ user.about }}</p>
                </div>
            </div>
        {%  endfor %}
    </div>
{% endblock %}