{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="bloc-admin">

    <table>
        <thead>
        <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Groupe</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Voir</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td scope="row" data-label="Prénom">
                <a href="{{ path('admin_user_show', {id : user.id}) }}">{{ user.firstname | capitalize }}</a></td>
            <td data-label="Nom">
                <a href="{{ path('admin_user_show', {id : user.id}) }}">{{ user.lastname | upper }}</a></td>
            <td data-label="Nom d'artiste">
                <a href="{{ path('admin_user_show', {id : user.id}) }}">{{ user.artistName | capitalize }}</a></td>
            <td data-label="Email">
                <a Href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td data-label="Téléphone">
                <a href="tel:{{ user.phoneNumber }}">{{ user.phoneNumber }}</a></td>
            <td><a href="{{ path('admin_user_show', {id : user.id}) }}"><i class="far fa-eye"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}