{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>Navbar</h1>
    <h1>Barre de recherche</h1>
    <h1>Filtres</h1>


<!-- Tableau des 5 derniers utilisateurs inscrits -->

<div class="container">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Groupe</th>
            <th scope="col">E_mail</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Voir le profil</th>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.artistName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td><a href="{{ path ('user_show', {id : user.id }) }}"><i class="fas fa-chevron-circle-right"></i></a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Fin du tableau -->




    <div class="card-deck">

        {% for user in users %}

            <div class="card col-12 col-md-3">
                <img src="{{asset('build/images/Photos_CV_Xavier.png')}}" class="card-img-top rounded-circle w-75 mx-auto mt-3"  alt="{{ user.firstname }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ user.firstname }} {{ user.lastname }}</h5>
                    <p class="card-text text-center">
                        {% for activity in user.activities %}
                            {{ activity.domain.name }}
                        {% endfor %}</p>
                    <p class="card-text text-center">{{ user.about }}</p>
                </div>
            </div>
        {%  endfor %}
    </div>

{% endblock %}
