{% extends 'base.html.twig' %}
{% block title %}profil{% endblock %}
{% block body%}
    <div class="body_show">
        <div class=" container-top">
            <p>
                {% for userlink in user.links %}
                    <a href="{{ userlink.url }}" target=_blank>
                        <img class="icon-link" src="{{ asset('assets/img/Links/' ~ userlink.type ~ '_w.png') }}" alt="card image">
                    </a>
                {% endfor %}
            </p>
        </div>
        <div class="container-middle">
            <div class="profile">
                {% if avatar is defined %}
                    <img class="avatar" src="{{ asset('uploads/avatars/' ~ avatar.url)}} " alt="card image"></p>
                {% else %}
                    <img class="avatar" src="{{ asset('build/images/avatarBase.png') }}" alt="card image"></p>
                {% endif %}
                <h2>{{ user.firstname | upper }} {{ user.lastname | upper  }}</h2>
                <h2>{% for activity in user.activities %}
                        {{ activity.Domain.Name | capitalize }}
                    {% endfor %}</h2>
                <h4 class="col-xl-6 col-md-8 text-center m-auto"> {{ user.about }} </h4>
            </div>
        </div>
        <div class="container-bottom ">
            <div class="row justify-content-center">
                <div>
                    <img class="icon-info" src="{{ asset('assets/img/Links/mail_w.png') }}" alt="icon-email">
                    {{ user.email }}
                </div>
                <div>
                    {% if user.phoneNumber | e %} <!-- Si le tableau n'est pas vide -->
                        <img class="icon-info" src="{{ asset('assets/img/Links/Tel_w.png') }}" alt="icon-phone">
                        {{ user.phoneNumber }}
                    {% endif %}
                </div>
                <div>
                    {% for media in user.medias %}
                        {% if media.type == 'internet' %}
                            <a class="lien" href="{{ media.url }}"  target=_blank>
                                <img class="icon-info" src="{{ asset('assets/img/Links/internet_w.png') }}" alt="icon-internet">
                                {{ media.url }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Nav Media -->
        <div class="profile-body">
            <h2>Portfolio</h2>
            <ul class="nav nav-pills pills-media mb-3 sm-5 " id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="link-media-p active" id="pills-photo-tab" data-toggle="pill" href="#pills-photo" role="tab"
                       aria-selected="true">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="link-media-v" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                       aria-controls="pills-profile" aria-selected="false">Vidéos</a>
                </li>
                <li class="nav-item">
                    <a class="link-media-m" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                       aria-controls="pills-contact" aria-selected="false">Musiques</a>
                </li>
            </ul>
            <!-- Media | Photos -->
            <div class="tab-content" id="pills-tabContent">
                <div class="col-12 tab-pane show active" id="pills-photo" role="tabpanel" aria-labelledby="pills-photo-tab">
                    {% for media in user.medias %}
                        {% if media.type == 'Image' %}
                            <img class="media-img" src="{{ asset('uploads/images/' ~ media.url)}}" alt="{{ media.Name }}">
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Media | Videos -->
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    {% for media in user.medias %}
                        {% if media.type == 'lienVideo' %}
                            <object class="media-img">
                                <param name="movie" value="{{ media.url }}">
                            </object>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Media | Musics -->
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {% for media in user.medias %}
                        {% if media.type == 'lienMusique' %}
                            <object class="media-img">
                                <param name="movie" value="{{ media.url }}">
                            </object>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Informations utilisateur -->
        <div class="profile-body justify-content-center">
            <h2>Renseignements supplémentaires</h2>
            <div class="col-12 row container-rs">
                <div class="col-md-5 col-12 row rs-body">
                    <div class="rs-left">
                        <ul>
                            <li>Nom de scène :</li>
                            <li>Nom :</li>
                            <li>Prénom :</li>
                            <li>Adresse :</li><br>
                            <li>Code Postal :</li>
                            <li>Ville :</li>
                            <li>Téléphone :</li>
                            <li>Email :</li>
                            <li>Zone d'activité :</li>
                            <li>Tarif :</li>
                            <li>Besoin technique :</li>
                        </ul>
                    </div>
                    <div class="rs-rigth">
                        {{ user.artistname }}<br>
                        {{ user.lastname }}<br>
                        {{ user.firstname }}<br>
                        {{ user.address }}<br>
                        {{ user.posteCode }}<br>
                        {{ user.city }}<br>
                        {{ user.phoneNumber }}<br>
                        {{ user.email }}<br>
                        {{ user.geoArea }}<br>
                        {{ user.price }} € - GUSO ? FACTURE ?<br>
                    </div>
                </div>
                <div class="col-md-6 col-12 array-rs">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Métier(s)</th>
                            <th scope="col">Accessoire(s)</th>
                            <th scope="col">Style(s): </th>
                            <th scope="col">Supprimer: </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for activity in user.activities %}
                            <tr>
                                <td>{{activity.domain.Name }}</td>
                                <td>{% if activity.skill.Name is defined%}{{ activity.skill.Name }}{% endif %}</td>
                                <td>{% if activity.style.type is defined%}{{activity.style.type }}{% endif %}</td>
                                <td>
                                    <form method="post" action="{{ path('user_delete_activity', {'id': activity.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de le supprimer ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">
                                        <button class="btn"><i class="far fa-trash-alt text-danger"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-10 rs-info-sup">
                    Zone géographique: {{ user.geoArea }} -
                    Nombre de personnes: {{ user.personsNumber }} -
                    Type de facturation: {{ user.billingType }} -
                    Prix: {{ user.price }}€ <Br>
                    Besoin(s) technique(s): {{ user.technicalNeeds }}
                </div>
            </div>
        </div>
        <p class="copyright">Copyright@LesRatonsWilders</p>
    </div>
{% endblock %}