{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body%}
    <div class="login-body">
        <form method="post">

            <div class="login">
                <div class="login-screen">
                    <div class="login-title">
                        <img class="avatar" src="{{ asset('assets/img/logo_lesratons.png') }}" alt="card image">
                    </div>

                    <div class="login-form">
                        <h3>Envoyer un nouveau mot de passe :</h3>
                        {{ form_start(form) }}
                        {{ form_errors(form.email) }}
                        {{ form_end(form) }}

                        <button class="login-btn" type="submit">Envoyer</button>
                        <a class="login-link" href="{{ path('app_login') }}">Se connecter !</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}