{% extends 'base.html.twig' %}

{% block title %}Liste accessoire{% endblock %}

{% block body %}
    <h1>Liste des accessoires</h1>

    <table>
        <thead>
            <tr>
                <th>Accessoires</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.name | capitalize }}</td>
                <td class="row justify-content-center">
                    <a class="btn" href="{{ path('skill_edit', {'id': skill.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                    <span class="btn">|</span>
                    <form method="post" action="{{ path('skill_delete', {'id': skill.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skill.id) }}">
                        <button class="btn"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun accessoire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'inc/_pagination.html.twig' %}

    <a class="btn btn-primary mt-4" href="{{ path('skill_new') }}">Ajouter un accessoire</a>
{% endblock %}
