
{% block body %}


    <div class="sidenav text-center">
        <a href="{{ path('admin_index') }}"><img class="avatar_navbar" src="{{ asset('assets/img/logo_lesratons.png') }}" alt="card image">
        </a>
        <a href="{{ path('admin_index') }}">Tableau de bord</a>

        <a href="{{ path('admin_search') }}">Rechercher un Artiste</a>
        <a href="{{ path('admin_filter') }}">Filtrer un Artiste</a>
        <a href="{{ path('app_logout') }}"><i class="fas fa-power-off"></i></a>

    </div>

{% endblock %}