{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}
    <h1>Editer mon profil</h1>

    <div class="container-fluid">


        <h2>Informations personnelles</h2>

        <div class="col-sm-12 col-md-6 ">{{ form_row(form.firstname) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.lastname) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.artistName) }}</div>

        <div class="col-md-6 col-sm-12">{{ form_row(form.birthdate) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.password) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.password) }}</div>

        <h2>Coordonnées</h2>

        <div class="col-md-6 col-sm-12">{{ form_row(form.email) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.phoneNumber) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.address) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.city) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.posteCode) }}</div>

        <h2>Informations professionnelles</h2>

        <div class="col-md-6 col-sm-12">{{ form_row(form.Activities) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.phoneNumber) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.address) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.city) }}</div>

        <button class="btn btn-secondary">Valider</button>


        <a href="{{ path('user_index') }}">back to list</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
