{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}
    <h1>Editer mon profil</h1>
    {{ form_start(form) }}

    <div class="container-fluid">


        <h2>Informations personnelles</h2>

        <div class="row">

            <div class="col-lg-4">  {{ form_row(form.firstname) }} </div>
            <div class="col-lg-4"> {{ form_row(form.lastname) }} </div>
            <div class="col-lg-4"> {{ form_row(form.artistName) }}</div>

        </div>

        <div class="row">

            <div class="col-lg-4">{{ form_row(form.password.first) }}</div>
            <div class="col-lg-4">{{ form_row(form.password.second) }}</div>
            <div class="col-lg-4">{{ form_row(form.birthdate) }}</div>


        </div>
        <h2>Coordonnées</h2>

        <div class="row">

        <div class="col-md-4 col-sm-12">{{ form_row(form.email) }}</div>
        <div class="col-md-4 col-sm-12">{{ form_row(form.phoneNumber) }}</div>
        <div class="col-md-4 col-sm-12">{{ form_row(form.address) }}</div>
        <div class="col-md-4 col-sm-12">{{ form_row(form.city) }}</div>
        <div class="col-md-4 col-sm-12">{{ form_row(form.posteCode) }}</div>

        </div>

        <a href="{{ path('user_edit_activities', {'id': user.id}) }}"><h2>Editer mes activités</h2></a>

        <div class="col-md-6 col-sm-12">{{ form_row(form.geoArea) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(form.price) }}</div>


        <h2>Liens et médias</h2>

        <div class="row">

            <div class="col-lg-4">  {{ form_row(form.links) }} </div>
            <div class="col-lg-4"> {{ form_row(form.lastname) }} </div>
            <div class="col-lg-4"> {{ form_row(form.artistName) }}</div>

        </div>
        {{ form_end(form) }}
        <button class="btn btn-secondary">{{ button_label|default('Valider') }}</button>



        <a href="{{ path('user_index') }}">back to list</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
