{% extends 'base.html.twig' %}
{% block title %} Bienvenue sur votre page profil{% endblock %}
{% block body %}
    {% if app.user.roles.0 == 'ROLE_USER' %}
        {% set lvl = app.user %}
    {% else %}
        {% set lvl = user %}
    {% endif %}

    <div class="body_show">

        <div class=" container-top">
            {% if app.user.roles.0 == 'ROLE_USER' %}
                <button class="btn badge-light"><a href="{{ path('user_edit', {'id': lvl.id}) }}">Éditer</a></button>
                <button class="btn badge-light"><a href="{{ path('user_change_password') }}">Changer le mot de passe</a>
                </button>
                <button class="btn badge-light"><a href="{{ path('avatar_new') }}">Changer l'avatar</a></button>
                <button class="btn badge-light"><a href="{{ path('image_new') }}">Ajouter des images</a></button>
                <button class="btn badge-light"><a href="{{ path('video_new') }}">Ajouter des vidéos</a></button>
                <button class="btn badge-light"><a href="{{ path('musique_new') }}">Ajouter des musiques</a></button>
                <button class="btn badge-light"><a href="{{ path('app_logout') }}">Se déconnecter</a></button>
            {% endif %}
            <p>
                {% for userlink in lvl.links %}
                    <a href="{{ userlink.url }}" target=_blank>
                        <img class="icon-link" src="{{ asset('assets/img/Links/' ~ userlink.type ~ '_w.png') }}"
                             alt="card image">
                    </a>
                {% endfor %}
            </p>
        </div>

        <div class="container-middle">
            <div class="profile">
                {% if avatar is empty %}
                    <img class="avatar" src="{{ asset('uploads/avatars/avatar.jpg') }}" alt="card image">
                {% else %}
                    <img class="avatar" src="{{ asset('uploads/avatars/' ~ avatar.url) }}" alt="card image">
                {% endif %}

                <h2>{{ lvl.firstname | upper }} {{ lvl.lastname | upper }}</h2>
                <h2>{% for activity in lvl.activities %}
                        {{ activity.Domain.Name | capitalize }}
                    {% endfor %}</h2>
                <h4 class="col-xl-6 col-md-8 text-center m-auto"> {{ lvl.about }} </h4>
            </div>
        </div>
        <div class="container-bottom ">
            <div class="row justify-content-center">
                <div>
                    <img class="icon-info" src="{{ asset('assets/img/Links/mail_w.png') }}" alt="icon-email">
                    {{ lvl.email }}
                </div>
                <div>
                    {% if lvl.phoneNumber | e %} <!-- Si le tableau n'est pas vide -->
                        <img class="icon-info" src="{{ asset('assets/img/Links/Tel_w.png') }}" alt="icon-phone">
                        {{ lvl.phoneNumber }}
                    {% endif %}
                </div>
                <div>
                    {% for media in lvl.medias %}
                        {% if media.type == 'internet' %}
                            <a class="lien" href="{{ media.url }}" target=_blank>
                                <img class="icon-info" src="{{ asset('assets/img/Links/internet_w.png') }}"
                                     alt="icon-internet">
                                {{ media.url }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Nav Media -->
        <div class="profile-body">
            <h2>Portfolio</h2>
            <ul class="nav nav-pills pills-media mb-3 sm-5 " id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="link-media-p active" id="pills-photo-tab" data-toggle="pill" href="#pills-photo"
                       role="tab"
                       aria-selected="true">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="link-media-v" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                       aria-controls="pills-profile" aria-selected="false">Vidéos</a>
                </li>
                <li class="nav-item">
                    <a class="link-media-m" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                       aria-controls="pills-contact" aria-selected="false">Musiques</a>
                </li>
            </ul>
            <!-- Media | Photos -->
            <div class="tab-content" id="pills-tabContent">
                <div class="col-12 tab-pane show active" id="pills-photo" role="tabpanel"
                     aria-labelledby="pills-photo-tab">
                    {% for media in lvl.medias %}
                        {% if media.type == 'Image' %}
                            <img class="media-img" src="{{ asset('uploads/images/' ~ media.url) }}"
                                 alt="{{ media.Name }}">
                            {% if lvl == 'app.user' %}
                                <form method="post" action="{{ path('media_delete', {'id': media.id}) }}"
                                      onsubmit="return confirm('Êtes-vous sûr(e) de le supprimer ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
                                    <button class="btn"><i class="far fa-trash-alt text-danger"></i></button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Media | Videos -->
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    {% for media in lvl.medias %}
                        {% if media.type == 'lienVideo' %}
                            <object class="media-img">
                                <param name="movie" value="{{ media.url }}">
                            </object>
                            {% if lvl == 'app.user' %}
                                <form method="post" action="{{ path('media_delete', {'id': media.id}) }}"
                                      onsubmit="return confirm('Êtes-vous sûr(e) de le supprimer ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
                                    <button class="btn"><i class="far fa-trash-alt text-danger"></i></button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Media | Musics -->
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {% for media in lvl.medias %}
                        {% if media.type == 'lienMusique' %}
                            <object class="media-img">
                                <param name="movie" value="{{ media.url }}">
                            </object>
                            {% if lvl == 'app.user' %}
                                <form method="post" action="{{ path('media_delete', {'id': media.id}) }}"
                                      onsubmit="return confirm('Êtes-vous sûr(e) de le supprimer ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
                                    <button class="btn"><i class="far fa-trash-alt text-danger"></i></button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Informations utilisateur -->
        <div class="profile-body justify-content-center">
            <h2>Renseignements supplémentaires</h2>
            <div class="col-12 row container-rs">
                <div class="col-md-5 col-12 row rs-body">
                    <div class="rs-left">
                        <ul>
                            <li>Nom de scène :</li>
                            <li>Type de groupe :</li>
                            <br>

                            <li>Nom :</li>
                            <li>Prénom :</li>
                            <li>Age :</li>
                            <br>

                            <li>Adresse :</li>
                            <li>Code Postal :</li>
                            <li>Ville :</li>
                            <br>

                            <li>Téléphone :</li>
                            <li>Email :</li>
                            <br>

                            <li>Zone d'activité :</li>
                            <li>Tarif :</li>
                            <li>Type de facturation :</li>
                            <br>
                        </ul>
                    </div>
                    <div class="rs-rigth">
                        {{ lvl.artistname }}<br>
                        {{ lvl.personsNumber }}<br><br>

                        {{ lvl.lastname }}<br>
                        {{ lvl.firstname }}<br>
                        {{ lvl.getAge }} {% if lvl.getAge %}Ans{% endif %}<br><br>

                        {{ lvl.address }}<br>
                        {{ lvl.posteCode }}<br>
                        {{ lvl.city }}<br><br>

                        {{ lvl.phoneNumber }}<br>
                        {{ lvl.email }}<br><br>

                        {{ lvl.geoArea }}<br>
                        {{ lvl.price }} {% if lvl.price %}€{% endif %}<br>
                        {{ lvl.billingType }}<br><br>
                    </div>
                </div>
                <div class="col-md-6 col-12 array-rs">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Métier(s)</th>
                            <th scope="col">Accessoire(s)</th>
                            <th scope="col">Style(s):</th>
                            {% if lvl == 'app.user' %}
                                <th scope="col">Supprimer:</th>{% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for activity in lvl.activities %}
                            <tr>
                                <td>{{ activity.domain.Name }}</td>
                                <td>{% if activity.skill.Name is defined %}{{ activity.skill.Name }}{% endif %}</td>
                                <td>{% if activity.style.type is defined %}{{ activity.style.type }}{% endif %}</td>
                                {% if lvl == 'app.user' %}
                                    <td>
                                    <form method="post" action="{{ path('user_delete_activity', {'id': activity.id}) }}"
                                          onsubmit="return confirm('Êtes-vous sûr(e) de le supprimer ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ activity.id) }}">
                                        <button class="btn"><i class="far fa-trash-alt text-danger"></i></button>
                                    </form>
                                    </td>{% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if lvl.technicalNeeds %}
                    <div class="text-center">
                        <ul>
                            <li class="font-weight-bold">Besoin(s) technique(s) :</li>
                            <br>{{ lvl.technicalNeeds }}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <p class="copyright">Copyright@LesRatonsWilders</p>
    </div>
{% endblock %}